{% extends "::base.html.twig" %}
{% block title %}Message #{{ posts.slug }}{% endblock title %}

{% block body %}
    <p>Name:{{ posts.name }}</p>
    <p>E-mail:{{ posts.email }}</p>
    <p>Body:{{ posts.body }}</p>
    <p>Дата сообщения:{{ created }}</p>
    <p><a class="btn btn-primary" href="{{ path('guestBook' )}}" role="button">Home</a></p>
{% endblock body %}