<div class="sidebar">
    <div class="article">
        <div class="title">Last Articles</div>
        {% for last_article in last_articles %}
            <div class="title-article"><a href="{{ path('blogArticle', {'slug': last_article.slug}) }}">{{ last_article.title }}</a></div>
        {% endfor %}
    </div>
    <div class="mostview-article">
        <div class="title">Most viewed Articles</div>
    </div>
    <div class="post-guestbook">
        <div class="title">Last post from questbook</div>
        {% for last_post in last_posts %}
            <div class="title-article"><a href="#">{{ last_post.name }}</a></div>
        {% endfor %}
    </div>
    <div class="tags">
        <div class="title">Tags</div>
        {% for tag, weight in tags %}
            <span class="weight-{{ weight }}">{{ tag }}</span>
        {% else %}
            <p>There are no tags</p>
        {% endfor %}
    </div>
</div>