{% extends "::base.html.twig" %}

{% block title %}Blog{% endblock %}
{% block body %}
    <div class="wrapper">
    {% for article in articles %}
            <div class="article-post">
                <div class="title"><a href="#">{{ article.title }}</a></div>
                <div class="post-date">Published at {{ article.getCreated()| date("Y-m-d")  }}</div>
                <div class="img_float"><img src="{{ article.image.path | imagine_filter('my_thumb')  }}"></div>
                <div>{{ article.description }}</div>
            </div>

    {% endfor %}
    </div>
        <div class="sidebar">
            <div class="article">
                <div class="title">Last Articles</div>
                {% for last_article in last_articles %}
                    <div class="title-article"><a href="#">{{ last_article.title }}</a></div>
                {% endfor %}
            </div>
            <div class="post-guestbook">
                <div class="title">Last post from questbook</div>
                {% for last_post in last_posts %}
                    <div class="title-article"><a href="#">{{ last_post.name }}</a></div>
                {% endfor %}
            </div>
        </div>
{% endblock body %}
